<h1>Gestión Clientes</h1>

<h2>Introduzca los datos</h2>
<form action="/Clientes/alta">
	Nombre: <input type="text" name="nombre"/>
	Apellidos: <input type="text" name="apellido"/>
	Edad: <input type="number" name="edad" />
	Telefono: <input type="text" name="telefono" />
	<input type="submit" value="Alta">
</form>

