<html>
	<body>
		<form action="/PantallaLogin/altaUsuario" method="get">
				Usuario: <input type="text" name="usuario"/>
				Contraseña: <input type="password" name="password" />
				<input type="submit" value="Logear"/>
				<input type="submit" value="Dar de Alta"/>
		</form>
		
	</body>
	
	
</html>
